.preview {
  position: relative;
  height: 765px;
  padding-top: 122px;
  background-image: url("#{$assetPath}/img/bg-preview.jpg");
  background-position: bottom center;
  background-size: cover;

  @media screen and (max-width: $tablet-large-width) {
    height: 625px;
  }

  @media screen and (max-width: $tablet-medium-width) {
    height: 575px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background: linear-gradient(180deg, $color-secondary 0%, rgba(13, 96, 111, 0) 25.1%);
    }
  }

  @media screen and (max-width: $tablet-small-width) {
    height: 515px;
  }

  @media screen and (max-width: $mobile-width) {
    height: 251px;
    padding-top: 141px;
    background-image: url("#{$assetPath}/img/bg-preview-390.jpg");
  }
}

.preview__inner {
  width: 892px;
  color: $color-white;

  @media screen and (max-width: $tablet-large-width) {
    width: 100%;
  }

  @media screen and (max-width: $mobile-width) {
    width: 100%;
  }
}

.preview__form {
  position: relative;
  display: flex;
  align-items: center;
}

.preview__input {
  width: 100%;
  height: 95px;
  outline: 0;
  padding: 0 285px 0 41px;
  color: $color-primary;
  @include font($size: 2.4rem, $weight: 400, $style: italic);
  background-color: rgba($color-white, 0.7);
  border: transparent;
  border-radius: $radius-primary;
  transition: box-shadow 0.3s;

  @media screen and (max-width: $tablet-small-width) {
    height: 75px;
    padding: 1px 190px 0 16px;
    @include font($size: 1.8rem, $height: 2rem, $weight: 400, $style: italic);
  }

  @media screen and (max-width: $mobile-width) {
    height: 49px;
    padding: 1px 115px 0 16px;
    @include font($size: 1.4rem, $height: 1.7rem, $weight: 400, $style: italic);
  }
}

.preview__input:focus {
  box-shadow: 
    0px 0px 35px 0px rgba($color-black, 0.85),
    0px 0px 0px 5px rgba($color-primary, 0.35),
    0px 0px 0px 1px rgba($color-primary, 0.35);
}

.preview__input::placeholder {
  color: $color-primary;

  @media screen and (max-width: $tablet-small-width) {
    height: 75px;
    @include font($size: 1.8rem, $height: 2rem, $weight: 400, $style: italic);
  }

  @media screen and (max-width: $mobile-width) {
    height: 49px;
    @include font($size: 1.4rem, $height: 1.7rem, $weight: 400, $style: italic);
  }
}

.preview__input:focus::placeholder {
  color: transparent;
}

.preview__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.preview__text {
  margin-bottom: 46px;
  @include font($size: 2rem, $height: 2.4rem, $weight: 700, $style: italic);

  @media screen and (max-width: $tablet-small-width) {
    @include font($size: 1.6rem, $height: 2rem, $weight: 700, $style: italic);
  }

  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}

.preview__button {
  position: absolute;
  right: 18px;

  @media screen and (max-width: $mobile-width) {
    right: 9px;
  }
}
