.steps-container {
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: $mobile-width) {
    justify-content: space-between;
  }
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding: 0px;

  @media screen and (min-width: calc($mobile-width + 1px)) and (max-width: calc($desktop-full-width - 0.01px)) {
    flex: 1 1 0;
    justify-content: flex-end;

    &.step_center {
      margin: 0;
      padding: 0;
    }

    .step__title {
      text-align: center;
    }
  }

  @media screen and (max-width: $mobile-width) {
    justify-content: start;

    &:first-child {
      width: 94px;
      align-items: flex-start;

      .step__title {
        text-align: left;
      }
    }

    &:nth-last-child(1) {
      width: 94px;
      align-items: flex-end;

      .step__title {
        text-align: right;
      }
    }
  }
}

.step_center {
  margin-left: 31px;
  margin-right: 15px;
  padding-left: 179px;
  padding-right: 123px;

  @media screen and (max-width: $mobile-width) {
    margin: 0;
    padding: 0;
    align-items: center;

    .step__title {
      text-align: center;
    }
  }
}

.step__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  background-color: $color-primary;
  border-radius: $radius-primary;

  @media screen and (max-width: $tablet-medium-width) {
    width: 70px;
    height: 70px;
  }

  @media screen and (max-width: $mobile-width) {
    width: 70px;
    height: 70px;
  }

  @media screen and (max-width: $smallest-width) {
    width: 45px;
    height: 45px;
  }
}

.step__ico {
  @media screen and (max-width: $tablet-medium-width) {
    width: 45px;
    height: 45px;
  }

  @media screen and (max-width: $mobile-width) {
    width: 35px;
    height: 35px;

    &.ico_correct {
      width: 40px;
      height: 40px;
    }
  }

  @media screen and (max-width: $smallest-width) {
    width: 25px;
    height: 25px;

    &.ico_correct {
      width: 25px;
      height: 25px;
    }
  }
}

.step__title {
  font-family: $font-primary;
  @include font($size: 2rem, $height: 2.4rem, $weight: 400);

  @media screen and (max-width: $tablet-medium-width) {
    @include font($size: 1.6rem, $height: 1.8rem, $weight: 400);
  }

  @media screen and (max-width: $tablet-small-width) {
    @include font($size: 1.4rem, $height: 1.6rem, $weight: 400);
  }

  @media screen and (max-width: $mobile-width) {
    @include font($size: 1rem, $height: 1.2rem, $weight: 400);
  }
}
