$assetPath: "../assets";

$desktop-full-width: 1440px;
$desktop-medium-width: 1140px;
$tablet-large-width: 960px;
$tablet-medium-width: 720px;
$tablet-small-width: 540px;
$mobile-width: 390px;
$smallest-width: 320px;

$blocks-full-padding: 120px;
$blocks-medium-padding: 30px;
$blocks-mobile-padding: 15px;

$radius-primary: 16px;
$radius-buttons: 10px;

$transition-primary: all 0.3s ease-in;

$footer-height: 62px;

// Slider
$slider-max-img-width: 800px;
$slider-img-gap: 60px;
