@mixin font($size, $height: $size, $weight: 400, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

@mixin box-shadow($inset: null, $x: 0, $y: 0, $blur: 0, $spread: 0, $color: $color-white, $color-opacity: 1) {
  box-shadow: $inset $x $y $blur $spread rgba($color, $color-opacity);
}

@mixin text-shadow($x: 0, $y: 0, $blur: 0, $color: $color-white, $color-opacity: 1) {
  text-shadow: $x $y $blur rgba($color, $color-opacity);
}

@mixin mixin_dot($dimension: 20px, $background: $color-primary) {
  width: $dimension;
  height: $dimension;
  background-color: $color-primary;
  border-radius: 50%;
  opacity: 0.5;
  position: relative;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-secondary;
    opacity: 1;
    box-shadow: 0 0 3px 1px $color-white, 0 0 3px 5px rgba($color-primary, 0.5);
  }

  &_active {
    opacity: 1;
  }
}
